/* Style for welcome container */
#welcomeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Light gray */
    padding: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px; /* Add rounded corners */
}


/* Style for sell container */
#sellContainer {
    background-color: #c9f7e1; /* Light green */
    padding: 10px;
    margin-bottom: 10px;
}

/* Style for buy container */
#buyContainer {
    background-color: #f9e4c9; /* Light orange */
    padding: 10px;
    margin-bottom: 10px;
}

/* Style for seller container */
#sellerContainer {
    background-color: #c9d9f7; /* Light blue */
    padding: 10px;
    margin-bottom: 10px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8eed09; /* Light gray */
    margin-right:  1px;

}
#logoutButton {
    margin:  20px; /* 0 for top and bottom margin, 5px for left and right margin */
}
p {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #333;
    padding: 1px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
